/* TEMP */
.vendorLogo {
  width: 200px;
}

/* ENDTEMP */

html, body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  height: 120%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.hide {
  display: none;
}


