html, body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
}
body {
  margin: 10px;
  padding: 0;
}


img.wrinkles {
  vertical-align: middle;
  margin-left: -15px;
}

.logo {
  font-family: Rochester;
  font-size: 500%;
  color: #7a5b3e;
  text-align: center;
  margin-bottom: 20px;
}

.hide {
  display: none;
}


.login-view {
  width: 350px;
  margin: auto;
  margin-top: 40px;
}

.login-view input {
  font-size: 24px;
  width: 100%;  
}

.login-view button {
  font-size: 24px;
}

