html, body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  height: 120%;
}
body {
  margin: 10px;
  padding: 0;
  width: 100%;
}

.hide {
  display: none;
}

.group-cart .item-list {
  background: #eee;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  max-width: 350px;
  border-radius: 5px;
}

.group-cart .item-list h2 {
  margin-top: 0;
  font-size: 1em;
  font-weight: normal;
}

.group-cart table {
  width: 100%;
  border-collapse: collapse;
}

.group-cart th, .group-cart td {
  padding: 2px 4px;
}

.group-cart td {
  text-align: right;
}

.group-cart th {
  font-weight: normal;
  text-align: left;
}

.group-cart .item:nth-child(odd) {
  background: #ddd;
}

.group-cart .item.total-row {
  background: none;
  border-top: 1px solid #ccc;
  margin-top: 5px;
  padding-top: 5px;
  font-weight: bold;
}

.group-cart .item-group {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.group-cart .item-group.mine {
  background: #caefc5;
}

.group-cart .item-group.mine .item:nth-child(odd) {
  background: #a2c89c;
}



.group-cart .item-group h3 {
  margin-bottom: 0;
  font-size: .85em;
  text-transform: uppercase;
  font-weight: normal;
}

.group-cart .user-payment {
  border-top: 1px solid #ddd;
  margin-top: 5px;
  padding: 5px;
}

