
	<section class="group-cart">
		<!--
		Ordering Deadline: <span class="time-left"><%= timeLeft %></span>
		-->
		
		<!-- ADD FORM -->
		<form class="shared-item-form">
			<input class="item-name-input" placeholder="item name" />
			<input class="item-price-input" placeholder="price" />
			<select class="item-user">
				<option value="shared">Shared</option>
				<% _.each(users, function(user) { %>
					<option value="<%= user._id %>"><%= user.name %></option>
				<% }); %>
			</select>
			<button class="add-shared-item-btn">add</button>
		</form>

		<!-- SHARED -->
		<section class="item-list shared">
			<h2>Shared Items</h2>
			<div class="item-group">
				<table>
					<tbody>
						<% _.each(groupedItems.shared, function(item) { %>
						<tr class="item">
							<th><%= item.name %></th>
							<td class="item-price"><%= App.Utils.formatCurrency(item.price) %></td>
						</tr>
						<% }); %>
					</tbody>
					<tfoot>
						<% if (groupedItems.shared && groupedItems.shared.length) { %>
						<tr class="item total-row">
							<th>Total</th>
							<td class="shared-total"><%= App.Utils.formatCurrency(groupedItems.shared.totalCost) %></td>
						</tr>
						<% } %>
					</tfoot>
				</table>
			</div>
		</section>




		<!-- INDIVIDUAL -->
    <section class="item-list individual">
      <h2>Individual Items</h2>
        <% _.each(users, function(user) { %>
          <% var groupItems = groupedItems[user._id]; %>
          <div class="item-group <%= user._id === currentUserId ? 'mine' : '' %>">
            <h3><%= user.name %> (<%= user.email%>)</h3>
            <table>
            <tbody>
              <% if(!groupItems || groupItems.length === 0) { %>
              <p class="no-items">No items</p>
              <% } %>
              <% _.each(groupItems, function(item){ %>
              <tr class="item">
                <th><%= item.name %></th>
                <td class="item-price"><%= App.Utils.formatCurrency(item.price) %></td>
              </tr>
              <% }); %>
            </tbody>

            <tfoot>
              <% if (groupItems && groupItems.totalCost) { %>
                <tr class="item">
                  <th><%= user.name %>'s Total</th>
                  <td class="item-price"><%= App.Utils.formatCurrency(groupItems.totalCost) %></td>
                </tr>
              <% } %>

              <% if (groupedItems.shared && groupedItems.shared.length) { %>
                <tr class="item">
                  <th>Share of Shared</th>
                  <td class="item-price"><%= App.Utils.formatCurrency(sharedShare) %></td>
                </tr>
              <% } %>

              <tr class="item total-row">
                <th>Total</th>
                <td class="shared-total"><%= groupItems ? App.Utils.formatCurrency(groupItems.totalCost + sharedShare) : App.Utils.formatCurrency(sharedShare) %></td>
              </tr>
            </tfoot>
            </table>
            <% if (user._id === currentUserId && !isHost) { %>
            <div class="user-payment">
              <div>Pay with:</div>
              <span class="Dwolla dwolla-btn"></span>
              <span class="Venmo venmo-btn"></span>
            </div>
            <% } %>
          </div>
        <% }); %>
    </section>




		<!-- SUMMARY -->
		Total Cost: <%= App.Utils.formatCurrency(totalCost) %><br>
		<% if (isHost && vendor) { %>
			<!-- the calculation for this is sketchy at the moment, so commenting it out
			Expected Contributions: <%= App.Utils.formatCurrency(totalContributions) %>
			-->
			<button class="send-order">Send Order</button>
		<% } %>
	</section>
