<div class='main page'>
	<section class='setupSection'>
		<div class='header'>
			<h2 class='left'>Where would you like to shop?</h2>
			<span class='instruction left'>(optional)</span>
		</div>
		<div id='vendorList' class='clear'></div>
	</section>

	<section class='setupSection'>
		<div class='header'>
			<h2 class='left'>How can you be paid?</h2>
		</div>
		<span class='instruction left'>(at least one)</span>
		<div id='processorList' class='clear'></div>
	</section>

	<section class='setupSection'>
		<div class='header'>
			<h2 class='left'>Friends</h2>
		</div>
		<span class='instruction left'>(comma-separated emails)</span>
		<textarea id='emailInput' class='clear'></textarea>
	</section>

	<button class='mainSubmit'>Submit</button>
</div>
