<div class="main page">
	<section class="setup-section">
		<h2>Vendor</h2>
		<p class="instruction">(optional)</p>
		<div id="vendorList"></div>
	</section>

	<section class="setup-section">
		<h2>Payment Processors</h2>
		<p class="instruction">(at least one)</p>
		<div id="processorList"></div>
	</section>

	<section class="setup-section">
		<h2>Friends</h2>
		<p class="instruction">(comma-separated emails)</p>
		<textarea id="emailInput"></textarea>
	</section>

	<button class="main-submit">Submit</button>
</div>
