<div class="main page">
	<section class="setupSection">
		<h3 class='left'>Where would you like to shop?</h3>
		<span class="instruction">(optional)</span>
		<div id="vendorList" class="clear"></div>
	</section>

	<section class="setupSection">
		<h3>How can you be paid?</h3>
		<span class="instruction">(at least one)</span>
		<div id="processorList"></div>
	</section>

	<section class="setupSection">
		<h3>Friends</h3>
		<span class="instruction">(comma-separated emails)</span>
		<textarea id="emailInput"></textarea>
	</section>

	<button class="mainSubmit">Submit</button>
</div>
